@use "../../../index";

.badge {
  display: inline-block;
  position: absolute;
  top: -8px;
  left: 3px;
  background-color: index.$dark-blue;
  border: 2px solid index.$white;
  border-radius: 50%;
  font-size: 12px;
  padding: 1px 5px;

  span {
    border-radius: 50%;
  }

  @media (max-width: index.$mobile) {
    font-size: 10px;
    padding: 1px 3px;
  }
}
