@use "../../index";

.empty-cart {
  @include index.flexDisplay(center, center, 100%, 100%, column);
  padding: 50px 0;
  text-align: center;

  p {
    margin: 90px 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: index.$dark-grey;
  }
}