@use "../../../index";

.navbar-button {
  text-decoration: none;
  font-size: 1.2rem;
  color: index.$dark-grey;
  transition: all 0.3s;
  background-color: transparent !important;

  &:hover {
    cursor: pointer;
    color: index.$light-blue;
    transform: scale(1.03);
  }

  @media (max-width: index.$mobile) {
    font-size: 1rem;
  }
}
