@use "../../index";

.products {
  display: grid; 
  grid-template-columns: 0.4fr 1.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "products-left products-right";
  
  &-left {

  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}