@use "../../index";

.category-products {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "products-left products-right";

  @media (max-width: index.$tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.35fr 1.65fr;
    gap: 0px 0px;
    grid-template-areas:
      "products-left"
      "products-right";
  }

  @media (max-width: index.$mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "products-right";
  }

  &-left {
    grid-area: products-left;
    width: 100%;
    height: 480px;
    position: -webkit-sticky;
    position: sticky;
    top: 163px;
    padding: 10px 20px;
    background-color: index.$white;
    border: 3px solid index.$light-grey;
    border-radius: 20px;

    @media (max-width: index.$tablet) {
      position: relative;
      top: 0px;
      height: 200px;
    }

    @media (max-width: index.$mobile) {
      display: none;
    }
  }

  &-right {
    grid-area: products-right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (max-width: index.$tablet) {
      gap: 10px;
    }
  }
}
