@use "../../index";

.category-products {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "products-left products-right";

  &-left {
    grid-area: products-left;
    width: 100%;
    height: 480px;
    position: -webkit-sticky;
    position: sticky;
    top: 163px;
    padding: 10px 20px;
    background-color: index.$white;
    border: 3px solid index.$light-grey;
    border-radius: 20px;
  }

  &-right {
    grid-area: products-right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
