@use "../../index";

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-first-section {
    @include index.flexDisplay(space-between, center, 100%, 80px);
    padding: 0 30px;
    border-bottom: 3px solid index.$light-grey;

    @media (max-width: index.$tablet) {
      padding: 0;
    }

    .navbar-cart-container {
      @include index.flexDisplay(center, center, 250px, 100%);
      font-size: 1.4rem;

      @media (max-width: index.$tablet) {
        @include index.flexDisplay(center, center, 200px, 100%);
      }

      @media (max-width: index.$mobile) {
        font-size: 1rem;
        @include index.flexDisplay(center, center, 160px, 100%);
      }

      &-button {
        text-decoration: none;
        position: relative;
        font-size: inherit;
        cursor: pointer;
        background-color: index.$dark-blue;
        color: index.$white;
        padding: 10px 25px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          background-color: index.$light-blue;
          transform: scale(1.03);
        }

        @media (max-width: index.$mobile) {
          padding: 10px 15px;
        }

        i {
          padding-right: 15px;
        }
      }
    }
  }

  &-second-section {
    @include index.flexDisplay(center, center, 100%, 60px);
    margin-bottom: 10px;
    gap: 20px;
    border-bottom: 3px solid index.$light-grey;
    background-color: index.$light-grey;

    @media (max-width: index.$tablet) {
      gap: 15px;
    }

    @media (max-width: index.$mobile) {
      gap: 10px;
    }
  }
}
