@use "../../index";

.logo {
  @include index.flexDisplay(center, center, 250px, 100%);
  font-weight: bold;
  font-size: 1.6rem;
  color: index.$dark-blue;

  @media (max-width: index.$tablet) {
    font-size: 1.2rem;
    @include index.flexDisplay(center, center, 200px, 100%);
  }

  @media (max-width: index.$mobile) {
    font-size: 1rem;
    @include index.flexDisplay(center, center, 160px, 100%);
  }

  img {
    width: 50px;
    margin-right: 20px;

    @media (max-width: index.$tablet) {
      width: 30px;
      margin-right: 10px;
    }
  }
}
