*, ::after, ::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif;
}

$mobile: 415px;
$tablet: 768px;
$desktop: 1440px;

$white: #FFF;
$light-grey: #F9F9F8;
$medium-grey: #dee2e6;
$medium-2x-grey: #adb5bd;
$dark-grey: #222524;
$light-blue: #337BB6;
$dark-blue: #013077;

@mixin flexDisplay($justifyContent, $alignItems, $width, $height, $direction: row) {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}